*{
    /*background-image: url(1.jpg); Tak reti guna lagi asik override my div*/
    /*background-attachment: scroll; will put on hold and use bg-color selagi tak figure out bg image*/
    background-color: rgb(181, 230, 230);
    box-sizing: border-box;
    margin: 0;
    padding: 10px;

}
.container {
    background-color:rgba(58, 64, 90, 0.89);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
}
.main{
    text-align:center;
    font-size: 32px;
    font-style: italic;
    font-family: "cursive";
}
.text{
    font-size: 16px;
    font-family: "cursive";
    text-align: center;
    font-style: italic;
}